In [7]:
# import libraries
import pandas as pd
import tensorflow as tf
import os
import matplotlib.pyplot as plt
import numpy as np
import math
import sys
import scipy
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras import metrics
from keras.wrappers.scikit_learn import KerasRegressor
from tensorflow import keras
from google.colab import files
import seaborn as sns
import warnings

import random
import librosa, IPython
import librosa.display as lplt
sns.set_style('whitegrid')
%matplotlib inline
seed = 12
np.random.seed(seed)
warnings.filterwarnings('ignore')

Loading the datasets

In [8]:
Train=pd.read_csv("/content/Train.csv")

In [9]:
Test=pd.read_csv("/content/Test.csv")

In [10]:
Train=Train.drop(['ID'],axis=1) #Drop the ID column in the train Dataset

In [11]:
Test=Test.drop('ID', axis=1) #Drop the ID column in the Test Dataset

In [12]:
X_val=Train[Train['country']=="Guinea"] #Splitting the Train set by countyr(guinea)

In [13]:
X_val

      country  year  ... dist_to_shoreline    Target
4      Guinea  2012  ...        192.926363  0.605328
83     Guinea  2012  ...        191.075465  0.194010
121    Guinea  2012  ...         20.987818  0.232571
154    Guinea  2012  ...        297.131871  0.290080
165    Guinea  1999  ...         87.610351  0.477963
...       ...   ...  ...               ...       ...
21391  Guinea  1999  ...         14.105058  0.488366
21402  Guinea  2012  ...         47.581878  0.160343
21407  Guinea  2012  ...        216.920566  0.184565
21425  Guinea  2012  ...        136.742942  0.183879
21439  Guinea  2012  ...          8.169696  0.885383

[593 rows x 18 columns]

In [14]:
X_train=Train[Train["country"] != "Guinea"] #X_train set is a set of country without guinea

In [15]:
X_val_1=X_val.drop(['Target','country','year'], axis=1) ## drop the Target country and year

In [16]:
y_val=X_val['Target'] # save the column Target into y_val

In [17]:
X_train_1=X_train.drop(['Target','country','year'], axis=1)

In [18]:
y_train=X_train["Target"]

In [15]:
# y=Train['Target']

In [16]:
# X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.15,random_state=42)

Label encoding of the country

In [17]:
# map labels to index
country_index = dict()
index_country = dict()
for i, x in enumerate(X_train_1.country.unique()):
    country_index[x] = i
    index_country[i] = x
print(country_index)
print(index_country)

{'Ethiopia': 0, 'Mozambique': 1, 'Malawi': 2, 'Cameroon': 3, 'Ghana': 4, 'Senegal': 5, 'Kenya': 6, 'Tanzania': 7, 'Mali': 8, 'Swaziland': 9, 'Rwanda': 10, 'Nigeria': 11, 'Lesotho': 12, 'Sierra Leone': 13, 'Central African Republic': 14, "Cote d'Ivoire": 15, 'Togo': 16}
{0: 'Ethiopia', 1: 'Mozambique', 2: 'Malawi', 3: 'Cameroon', 4: 'Ghana', 5: 'Senegal', 6: 'Kenya', 7: 'Tanzania', 8: 'Mali', 9: 'Swaziland', 10: 'Rwanda', 11: 'Nigeria', 12: 'Lesotho', 13: 'Sierra Leone', 14: 'Central African Republic', 15: "Cote d'Ivoire", 16: 'Togo'}

In [18]:
X_train_1.country = [country_index[l] for l in X_train_1.country]

In [19]:
# map labels to index
country_index = dict()
index_country = dict()
for i, x in enumerate(X_val_1.country.unique()):
    country_index[x] = i
    index_country[i] = x
print(country_index)
print(index_country)

{'Guinea': 0}
{0: 'Guinea'}

In [20]:
X_val_1.country = [country_index[l] for l in X_val.country]

In [21]:
# map labels to index
country_index = dict()
index_country = dict()
for i, x in enumerate(Test.country.unique()):
    country_index[x] = i
    index_country[i] = x
print(country_index)
print(index_country)

{'Democratic Republic of Congo': 0, 'Uganda': 1, 'Burkina Faso': 2, 'Zambia': 3, 'Angola': 4, 'Zimbabwe': 5, 'Benin': 6}
{0: 'Democratic Republic of Congo', 1: 'Uganda', 2: 'Burkina Faso', 3: 'Zambia', 4: 'Angola', 5: 'Zimbabwe', 6: 'Benin'}

In [19]:
Test=Test.drop(['country','year'], axis=1)

In [22]:
Test.country = [country_index[l] for l in Test.country]

one hot encoding of the urban or rural column

In [20]:
X_train_1['urban_or_rural']=pd.get_dummies(X_train_1['urban_or_rural'])

In [21]:
X_train_1

       urban_or_rural  ghsl_water_surface  ...  dist_to_capital  dist_to_shoreline
0                   1                 0.0  ...       278.788451         769.338378
1                   1                 0.0  ...       200.986978         337.135243
2                   1                 0.0  ...       642.594208         169.913773
3                   1                 0.0  ...       365.349451         613.591610
5                   0                 0.0  ...         9.803702         487.790852
...               ...                 ...  ...              ...                ...
21449               1                 0.0  ...       283.861037         159.790057
21450               1                 0.0  ...       295.307249         122.976960
21451               1                 0.0  ...       166.405249         155.365355
21452               1                 0.0  ...       568.759665         534.638628
21453               1                 0.0  ...      1486.151015         216.519408

[20861 rows x 15 columns]

In [22]:
X_val_1['urban_or_rural']=pd.get_dummies(X_val['urban_or_rural'])

In [23]:
Test['urban_or_rural']=pd.get_dummies(Test['urban_or_rural'])

Label encoding of the year variable

In [27]:
# map year in train to index
year_index = dict()
index_year = dict()
for i, x in enumerate(X_train_1.year.unique()):
    year_index[x] = i
    index_year[i] = x
print(year_index)
print(index_year)

{2016: 0, 2005: 1, 2009: 2, 2015: 3, 2004: 4, 2014: 5, 2010: 6, 2011: 7, 1998: 8, 2006: 9, 2008: 10, 2003: 11, 2012: 12, 2007: 13, 2013: 14, 1994: 15, 1996: 16, 1999: 17, 1995: 18}
{0: 2016, 1: 2005, 2: 2009, 3: 2015, 4: 2004, 5: 2014, 6: 2010, 7: 2011, 8: 1998, 9: 2006, 10: 2008, 11: 2003, 12: 2012, 13: 2007, 14: 2013, 15: 1994, 16: 1996, 17: 1999, 18: 1995}

In [28]:
X_train_1.year = [year_index[l] for l in X_train_1.year]

In [29]:
# map year in val to index
year_index = dict()
index_year = dict()
for i, x in enumerate(X_val_1.year.unique()):
    year_index[x] = i
    index_year[i] = x
print(year_index)
print(index_year)

{2012: 0, 1999: 1}
{0: 2012, 1: 1999}

In [30]:
X_val_1.year = [year_index[l] for l in X_val_1.year]

In [31]:
# map year in test data to index
year_index = dict()
index_year = dict()
for i, x in enumerate(Test.year.unique()):
    year_index[x] = i
    index_year[i] = x
print(year_index)
print(index_year)

{2007: 0, 2011: 1, 2010: 2, 2015: 3, 2013: 4, 2005: 5, 2014: 6, 2012: 7, 2016: 8, 2006: 9, 1999: 10, 2009: 11, 1998: 12}
{0: 2007, 1: 2011, 2: 2010, 3: 2015, 4: 2013, 5: 2005, 6: 2014, 7: 2012, 8: 2016, 9: 2006, 10: 1999, 11: 2009, 12: 1998}

In [32]:
Test.year = [year_index[l] for l in Test.year]

In [24]:
X_train_1.sample(5)

      urban_or_rural  ghsl_water_surface  ...  dist_to_capital  dist_to_shoreline
2350               0            0.030539  ...         9.209242         677.617171
3994               0            0.000000  ...       477.306873         675.711289
8288               0            0.000000  ...       386.498600          11.608316
7886               0            0.000000  ...       126.117994         497.762204
4052               0            0.023141  ...       211.935118           8.042227

[5 rows x 15 columns]

Transformation of the datasets using MinMaxScaler

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
def normalize(dataset):
    dataNorm=((dataset-dataset.min())/(dataset.max()-dataset.min()))*20
    #dataNorm["country"]=dataset["country"]
    #dataNorm["year"]=dataset["year"]
    dataNorm["urban_or_rural"]=dataset["urban_or_rural"]
    return dataNorm

In [27]:
X_train=normalize(X_train_1)

In [28]:
X_train

       urban_or_rural  ghsl_water_surface  ...  dist_to_capital  dist_to_shoreline
0                   1                 0.0  ...         2.937765           8.694712
1                   1                 0.0  ...         2.117613           3.809437
2                   1                 0.0  ...         6.772857           1.919301
3                   1                 0.0  ...         3.850256           6.934276
5                   0                 0.0  ...         0.102237           5.512326
...               ...                 ...  ...              ...                ...
21449               1                 0.0  ...         2.991238           1.804871
21450               1                 0.0  ...         3.111899           1.388765
21451               1                 0.0  ...         1.753066           1.754857
21452               1                 0.0  ...         5.994523           6.041856
21453               1                 0.0  ...        15.665291           2.446093

[20861 rows x 15 columns]

In [29]:
X_val=normalize(X_val_1)

In [30]:
Test=normalize(Test)

In [40]:
# # define the model
# def baseline():
#     # create model
#     model = Sequential()
#     # add one fully connected layer
#     model.add(Dense(13, input_dim=X_train.shape[1], activation='relu'))
#     # add a fully connected layer for the output
#     model.add(Dense(1))
#     # Compile model
#     model.compile(loss='mean_squared_error', optimizer='adam',metrics=[metrics.mse])
    
#     return model

In [41]:
# estimator = KerasRegressor(build_fn=baseline, epochs=20, batch_size=5, verbose=1)

In [42]:
# baseline().summary()

In [43]:
# history = estimator.fit(X_train, y_train)

In [44]:
# prediction = estimator.predict(X_val)

In [45]:
# from sklearn.metrics import mean_squared_error

In [46]:
# mean_squared_error(y_val, prediction)

In [47]:
# prediction = estimator.predict(Test)

In [48]:
# submission=pd.read_csv("/content/SampleSubmission.csv")
# submission.head()

In [49]:
# submission['Target']=prediction = estimator.predict(Test)

In [50]:
# submission.head(5)

In [51]:
# submission.to_csv("Zindi2.csv",index=False)

Model building

In [54]:
from xgboost import XGBRegressor

my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(X_train, y_train, verbose=False)

[21:21:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [55]:
# make predictions
predictions = my_model.predict(X_val)

In [56]:
predictions

array([0.534668  , 0.22236732, 0.24015382, 0.19637096, 0.59565955,
       0.40890968, 0.23533887, 0.16450664, 0.16265827, 0.17457393,
       0.4454319 , 0.17482916, 0.39138097, 0.75501156, 0.7316047 ,
       0.5774448 , 0.1335795 , 0.7195407 , 0.52093625, 0.58953565,
       0.19118154, 0.24803138, 0.17991251, 0.74634004, 0.17748421,
       0.1329984 , 0.45213997, 0.38982502, 0.23969361, 0.5599706 ,
       0.44441375, 0.73679674, 0.3910555 , 0.7076104 , 0.19427264,
       0.24358886, 0.38421032, 0.5476099 , 0.16634664, 0.14844128,
       0.7355213 , 0.18227544, 0.22510901, 0.16746   , 0.18096253,
       0.21875018, 0.21337157, 0.21370563, 0.14119902, 0.31403637,
       0.22415239, 0.34197325, 0.6169809 , 0.1544793 , 0.13094962,
       0.18243966, 0.75501156, 0.223311  , 0.59866476, 0.14368   ,
       0.16579664, 0.24022964, 0.6250006 , 0.47970423, 0.7453054 ,
       0.12517938, 0.22466367, 0.21928632, 0.19525072, 0.765519  ,
       0.5474045 , 0.22881237, 0.3276687 , 0.18008253, 0.75733966,
       0.15529564, 0.14522567, 0.5925276 , 0.19555119, 0.60133064,
       0.64874375, 0.1616616 , 0.75599027, 0.22771785, 0.7496568 ,
       0.22449231, 0.13511536, 0.76631004, 0.19699895, 0.18065822,
       0.6079691 , 0.18774998, 0.16132241, 0.6381064 , 0.16496769,
       0.6190314 , 0.73612225, 0.75599027, 0.74529797, 0.2090235 ,
       0.11206627, 0.78973114, 0.16454482, 0.2998842 , 0.34260917,
       0.23077244, 0.74653584, 0.26213616, 0.73773277, 0.7837729 ,
       0.22430319, 0.3466121 , 0.1754255 , 0.22886017, 0.16139159,
       0.76871616, 0.21084633, 0.19689685, 0.16985133, 0.75733966,
       0.15898678, 0.42362157, 0.17552799, 0.20691255, 0.20122117,
       0.13628387, 0.1896657 , 0.21754882, 0.23340264, 0.148639  ,
       0.40890968, 0.18644819, 0.41958547, 0.1437133 , 0.20023999,
       0.7954752 , 0.25998682, 0.16421846, 0.76631004, 0.21630684,
       0.17113551, 0.2206231 , 0.15166557, 0.28948218, 0.7173396 ,
       0.7576269 , 0.7462549 , 0.61240804, 0.76631004, 0.179005  ,
       0.5474045 , 0.78178775, 0.7837729 , 0.21552774, 0.15251651,
       0.3935045 , 0.16855934, 0.12907457, 0.20708716, 0.21927738,
       0.7570807 , 0.16262868, 0.765519  , 0.75733966, 0.18497083,
       0.21109885, 0.23655796, 0.1784291 , 0.21272787, 0.74990034,
       0.5347177 , 0.21923646, 0.75446653, 0.76014817, 0.7208176 ,
       0.73984706, 0.65382355, 0.515555  , 0.2742607 , 0.29748186,
       0.11558199, 0.20442256, 0.16507626, 0.7417495 , 0.22583485,
       0.78717476, 0.7837729 , 0.1889751 , 0.38075367, 0.22045875,
       0.753469  , 0.74706435, 0.21623504, 0.2963308 , 0.74653584,
       0.58190733, 0.7781291 , 0.16262868, 0.20935169, 0.17599398,
       0.28893495, 0.7489684 , 0.1718576 , 0.7602074 , 0.20982659,
       0.42362157, 0.48422578, 0.16990033, 0.20533106, 0.75599027,
       0.75599027, 0.1852633 , 0.15562916, 0.19608355, 0.16633675,
       0.7699485 , 0.16457304, 0.16636601, 0.17962357, 0.16590023,
       0.15483525, 0.21453565, 0.6494332 , 0.20115098, 0.41664356,
       0.3821314 , 0.741407  , 0.3085268 , 0.2510468 , 0.5476099 ,
       0.40495792, 0.75446653, 0.10945839, 0.20180482, 0.59326625,
       0.13176021, 0.75600904, 0.17905307, 0.20425871, 0.6687686 ,
       0.18170115, 0.13645336, 0.73773277, 0.1121605 , 0.52093625,
       0.20642236, 0.7350167 , 0.4998369 , 0.17688265, 0.21528193,
       0.15562916, 0.7786431 , 0.155195  , 0.16025311, 0.44441375,
       0.13586691, 0.15720928, 0.27326015, 0.15924996, 0.41122007,
       0.75599027, 0.41942266, 0.22161692, 0.23134494, 0.18714315,
       0.20316017, 0.203457  , 0.2951225 , 0.22971627, 0.2432864 ,
       0.3038389 , 0.12604186, 0.16134334, 0.14849249, 0.14809525,
       0.607029  , 0.6117042 , 0.22559556, 0.12085271, 0.39747852,
       0.18878755, 0.77899396, 0.23776346, 0.2014474 , 0.29746443,
       0.19480029, 0.20948568, 0.3276687 , 0.20707244, 0.765519  ,
       0.57753307, 0.6135605 , 0.5963122 , 0.1666854 , 0.23923829,
       0.73525786, 0.21687955, 0.24565083, 0.25929266, 0.26814848,
       0.654513  , 0.3668282 , 0.6023003 , 0.58190733, 0.76871616,
       0.15259477, 0.13988182, 0.22414625, 0.2144978 , 0.34625393,
       0.12010494, 0.58190733, 0.56365067, 0.44928217, 0.74990034,
       0.12704462, 0.2445598 , 0.4888521 , 0.20326397, 0.6232935 ,
       0.18957642, 0.251378  , 0.29055884, 0.2103655 , 0.76631004,
       0.4353194 , 0.22525889, 0.1544793 , 0.25493303, 0.1444101 ,
       0.17536911, 0.15680835, 0.16240177, 0.20130423, 0.77899396,
       0.21453565, 0.23533887, 0.25515193, 0.7432147 , 0.74529797,
       0.24028781, 0.18721041, 0.21026915, 0.1991373 , 0.19931266,
       0.38483655, 0.19783378, 0.21776837, 0.735457  , 0.16737625,
       0.67350763, 0.14131519, 0.19490284, 0.3855512 , 0.2031256 ,
       0.25652933, 0.19886604, 0.4353194 , 0.765519  , 0.16861948,
       0.78717476, 0.7487868 , 0.73612225, 0.16710052, 0.22043487,
       0.18754286, 0.23438692, 0.16602957, 0.20948285, 0.15685308,
       0.24982518, 0.51374656, 0.7691608 , 0.49582723, 0.23655796,
       0.29125535, 0.18328735, 0.25575972, 0.18699601, 0.49872133,
       0.22453141, 0.4353194 , 0.76014817, 0.6876292 , 0.61454463,
       0.42290586, 0.24359602, 0.5925276 , 0.7271578 , 0.22768286,
       0.21757817, 0.1225403 , 0.53542924, 0.42290586, 0.73773277,
       0.7675803 , 0.27153933, 0.16525742, 0.179248  , 0.19827822,
       0.75599027, 0.579944  , 0.23110235, 0.1932173 , 0.7440881 ,
       0.753469  , 0.5774448 , 0.21027812, 0.4454319 , 0.2108421 ,
       0.73773277, 0.18008253, 0.1445426 , 0.17040038, 0.42362157,
       0.20684543, 0.16923931, 0.35270005, 0.74653584, 0.20462006,
       0.12895629, 0.21955124, 0.13242415, 0.20704776, 0.2078102 ,
       0.47513613, 0.76916784, 0.21874675, 0.10752094, 0.3769434 ,
       0.15054712, 0.13095015, 0.45213997, 0.17076579, 0.32656148,
       0.21678948, 0.23186448, 0.17777291, 0.20388353, 0.7573861 ,
       0.29828504, 0.17886618, 0.22194687, 0.15988255, 0.193652  ,
       0.25725433, 0.13645336, 0.13594401, 0.17313159, 0.3985113 ,
       0.10871798, 0.21602857, 0.13021243, 0.765519  , 0.18274212,
       0.1733261 , 0.20181087, 0.53547686, 0.5407224 , 0.21184546,
       0.1345276 , 0.2156538 , 0.12404811, 0.58921355, 0.19931266,
       0.7688613 , 0.4948091 , 0.26034164, 0.24069417, 0.402552  ,
       0.29985088, 0.60473996, 0.3466121 , 0.5883879 , 0.20582718,
       0.13687852, 0.7615514 , 0.2161521 , 0.17492694, 0.1986722 ,
       0.21896249, 0.16902861, 0.17460987, 0.5098763 , 0.7770915 ,
       0.735457  , 0.76173764, 0.17471483, 0.21282855, 0.17492235,
       0.12680188, 0.19914567, 0.5985082 , 0.39022163, 0.18377188,
       0.17567414, 0.15887201, 0.45213997, 0.52093625, 0.6135605 ,
       0.20714125, 0.18246123, 0.2050651 , 0.49064222, 0.30856866,
       0.16839468, 0.6797135 , 0.16604519, 0.4454319 , 0.16103703,
       0.42193788, 0.24504307, 0.19807711, 0.17974243, 0.1978893 ,
       0.15028366, 0.76487947, 0.16663367, 0.18322876, 0.23004195,
       0.7786431 , 0.19204286, 0.74274004, 0.2968366 , 0.45213997,
       0.22937366, 0.77899396, 0.7576269 , 0.6907642 , 0.21336049,
       0.71024126, 0.30447736, 0.18911004, 0.13962993, 0.76631004,
       0.50429577, 0.7487868 , 0.24073026, 0.7817948 , 0.6056502 ,
       0.23527345, 0.4454319 , 0.17158458, 0.21088144, 0.2187419 ,
       0.15836775, 0.24400747, 0.77386415, 0.42119807, 0.3162494 ,
       0.29028934, 0.23394477, 0.6462995 , 0.20295882, 0.3855512 ,
       0.23355135, 0.5102619 , 0.1883043 , 0.7410339 , 0.15958333,
       0.18290195, 0.19850329, 0.13866973, 0.53888345, 0.3769434 ,
       0.45213997, 0.44549346, 0.25552487, 0.1890817 , 0.22055468,
       0.21178219, 0.20743412, 0.25443733, 0.75513905, 0.40438184,
       0.17468345, 0.19291484, 0.21407446, 0.51404876, 0.21722925,
       0.1483649 , 0.19715905, 0.7658863 , 0.26279795, 0.16629207,
       0.2382516 , 0.40362117, 0.77386415, 0.735457  , 0.23975629,
       0.1990431 , 0.15998328, 0.75492793], dtype=float32)

In [58]:
from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_val)))

Mean Absolute Error : 0.08552723575216409

In [35]:
my_model = XGBRegressor(n_estimators=1000)
my_model.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_val, y_val)], verbose=False)

[21:10:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [36]:

my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_val, y_val)], verbose=False)

[21:10:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [37]:
# make predictions
predictions = my_model.predict(X_val)

In [38]:
predictions

array([0.5509291 , 0.24693146, 0.25871956, 0.23781225, 0.6034306 ,
       0.44191223, 0.25784612, 0.22206378, 0.21805951, 0.2242209 ,
       0.44545642, 0.20968431, 0.43085644, 0.6464954 , 0.6449618 ,
       0.5580857 , 0.19531268, 0.6421013 , 0.5137094 , 0.6034306 ,
       0.23844612, 0.2566892 , 0.22203746, 0.6421013 , 0.22016597,
       0.18888113, 0.45015594, 0.4714859 , 0.25784612, 0.5530993 ,
       0.45013762, 0.64879394, 0.43588412, 0.64879394, 0.23416683,
       0.25568897, 0.43588412, 0.5393298 , 0.22700283, 0.18250737,
       0.6599381 , 0.22016597, 0.261247  , 0.21123862, 0.23006251,
       0.24477434, 0.24989411, 0.23307532, 0.21812686, 0.3979944 ,
       0.24693146, 0.35246086, 0.6003949 , 0.21689653, 0.17976525,
       0.23006251, 0.6464954 , 0.24693146, 0.59037113, 0.18798119,
       0.2242209 , 0.25589156, 0.6004638 , 0.48993927, 0.6421013 ,
       0.16800955, 0.24070102, 0.2496076 , 0.24079785, 0.6599381 ,
       0.5393298 , 0.24740756, 0.3646083 , 0.236289  , 0.6464954 ,
       0.18272564, 0.18435538, 0.6034306 , 0.2504254 , 0.58235025,
       0.59832203, 0.2242209 , 0.6464954 , 0.23839587, 0.6449618 ,
       0.23339123, 0.19103825, 0.64750004, 0.24163282, 0.24358922,
       0.59817165, 0.21072558, 0.20009917, 0.5803894 , 0.21779045,
       0.58235025, 0.6499918 , 0.6464954 , 0.6520919 , 0.24693146,
       0.17080703, 0.64745355, 0.2242209 , 0.2955233 , 0.4260698 ,
       0.261247  , 0.6464954 , 0.25122046, 0.6421013 , 0.6499918 ,
       0.24693146, 0.43219137, 0.23836663, 0.24693146, 0.22299534,
       0.6599381 , 0.2820254 , 0.25113207, 0.22744471, 0.6464954 ,
       0.20607138, 0.47602585, 0.22105885, 0.261247  , 0.22563183,
       0.20522654, 0.21141395, 0.25113207, 0.261247  , 0.18335146,
       0.44191223, 0.2187945 , 0.4714859 , 0.18536264, 0.23458284,
       0.6421013 , 0.2993558 , 0.22203746, 0.64750004, 0.2451058 ,
       0.19840795, 0.24662906, 0.20162243, 0.27900136, 0.63884765,
       0.6464954 , 0.6449618 , 0.59513986, 0.64750004, 0.23168182,
       0.5393298 , 0.64750004, 0.6499918 , 0.23244947, 0.17863142,
       0.43085644, 0.20432255, 0.18808132, 0.25345528, 0.2350575 ,
       0.6449618 , 0.21496418, 0.6599381 , 0.6464954 , 0.22740832,
       0.25047225, 0.25470012, 0.22568142, 0.25047225, 0.6421013 ,
       0.50758415, 0.2485888 , 0.6464954 , 0.6464954 , 0.6449618 ,
       0.6449618 , 0.6004929 , 0.51705176, 0.2688756 , 0.27027953,
       0.17356008, 0.23758009, 0.23145226, 0.6421013 , 0.24566504,
       0.6499918 , 0.6499918 , 0.23734736, 0.3996751 , 0.2609451 ,
       0.64879394, 0.64879394, 0.24562645, 0.27753854, 0.6464954 ,
       0.56381536, 0.6599381 , 0.21496418, 0.25760275, 0.23168182,
       0.28744137, 0.64879394, 0.23376435, 0.6599381 , 0.24528429,
       0.47602585, 0.49420223, 0.22451913, 0.24477434, 0.6464954 ,
       0.6464954 , 0.23080489, 0.22133094, 0.25090247, 0.2352876 ,
       0.6599381 , 0.21565711, 0.21689978, 0.21841979, 0.2205962 ,
       0.22921768, 0.25169757, 0.59832203, 0.23102528, 0.46335298,
       0.3817522 , 0.6464954 , 0.2957228 , 0.25083536, 0.5393298 ,
       0.4595754 , 0.6464954 , 0.17000479, 0.2589238 , 0.5988214 ,
       0.17729065, 0.64750004, 0.2352876 , 0.24346936, 0.6405616 ,
       0.22221816, 0.19103825, 0.6421013 , 0.1664863 , 0.5137094 ,
       0.24642313, 0.6421013 , 0.49078032, 0.21745989, 0.24528429,
       0.22133094, 0.6499918 , 0.21510816, 0.21565711, 0.45013762,
       0.17993134, 0.23145226, 0.2771189 , 0.1949138 , 0.44228333,
       0.6464954 , 0.41591346, 0.23917776, 0.24566504, 0.22586584,
       0.25345528, 0.24346936, 0.2955233 , 0.2451058 , 0.25568897,
       0.3179945 , 0.20522654, 0.22051421, 0.17919964, 0.1974482 ,
       0.59513986, 0.59513986, 0.2496076 , 0.17549598, 0.39459798,
       0.26953018, 0.64750004, 0.25122046, 0.24295494, 0.2890253 ,
       0.24242726, 0.22983208, 0.3646083 , 0.2292493 , 0.6599381 ,
       0.5510342 , 0.59817165, 0.6034306 , 0.2189717 , 0.25294995,
       0.6520919 , 0.25254744, 0.25568897, 0.2601593 , 0.3308249 ,
       0.6004929 , 0.41066778, 0.5734409 , 0.56016105, 0.6599381 ,
       0.21779045, 0.20522654, 0.24562645, 0.23623875, 0.3530392 ,
       0.1664863 , 0.56016105, 0.5479739 , 0.45015594, 0.6421013 ,
       0.17380685, 0.25817275, 0.50916946, 0.25790465, 0.599534  ,
       0.22921768, 0.2623148 , 0.2955233 , 0.23389813, 0.64750004,
       0.47602585, 0.24693146, 0.21689653, 0.25482714, 0.1807805 ,
       0.22921768, 0.21510816, 0.19195631, 0.25113207, 0.64750004,
       0.25169757, 0.25784612, 0.26543254, 0.6449618 , 0.6520919 ,
       0.25568897, 0.23191595, 0.24693146, 0.23728138, 0.24029842,
       0.43588412, 0.2323474 , 0.261247  , 0.6499918 , 0.18481708,
       0.6405616 , 0.19382021, 0.23781225, 0.37021464, 0.24602288,
       0.262672  , 0.2323474 , 0.47602585, 0.6599381 , 0.18927947,
       0.6499918 , 0.64750004, 0.6499918 , 0.21650669, 0.23660421,
       0.2396507 , 0.25294995, 0.22700283, 0.2526294 , 0.18335146,
       0.33354026, 0.51705176, 0.64750004, 0.5137094 , 0.25470012,
       0.27027953, 0.22105989, 0.26474905, 0.20946604, 0.50916946,
       0.2472629 , 0.47602585, 0.6464954 , 0.6405616 , 0.60506773,
       0.46718672, 0.25282836, 0.6034306 , 0.6499918 , 0.24566504,
       0.23569009, 0.18075696, 0.54039705, 0.46718672, 0.6421013 ,
       0.6449618 , 0.32533562, 0.22769442, 0.22379068, 0.24835014,
       0.6464954 , 0.59228647, 0.24782217, 0.2380741 , 0.6421013 ,
       0.64879394, 0.5580857 , 0.2567976 , 0.4465463 , 0.24477434,
       0.6421013 , 0.236289  , 0.22921768, 0.2030561 , 0.47602585,
       0.24346936, 0.22700283, 0.3533411 , 0.64879394, 0.24477434,
       0.20522654, 0.25345528, 0.16716304, 0.24404678, 0.24562645,
       0.49085894, 0.6449618 , 0.26015428, 0.16800112, 0.43588412,
       0.21339571, 0.17884749, 0.45015594, 0.2389316 , 0.30554727,
       0.2526294 , 0.24477434, 0.22919813, 0.21120757, 0.6499918 ,
       0.29628432, 0.22203746, 0.2304343 , 0.18335146, 0.2331824 ,
       0.2606324 , 0.19103825, 0.2160517 , 0.21441227, 0.46363166,
       0.1721619 , 0.20758057, 0.16448262, 0.6599381 , 0.23006251,
       0.2242209 , 0.25113207, 0.5509291 , 0.5393298 , 0.23218569,
       0.17729065, 0.24960819, 0.17080703, 0.5803564 , 0.24029842,
       0.6499918 , 0.5137094 , 0.26844132, 0.24674022, 0.4714859 ,
       0.2997475 , 0.5847062 , 0.43219137, 0.6034306 , 0.24693146,
       0.18075696, 0.6599381 , 0.24486741, 0.21343446, 0.24295494,
       0.24693146, 0.2388022 , 0.22853926, 0.5017559 , 0.64750004,
       0.6499918 , 0.6599381 , 0.2650082 , 0.24303389, 0.22489238,
       0.17739105, 0.21141395, 0.5847062 , 0.4595754 , 0.24149486,
       0.23168182, 0.22051421, 0.45015594, 0.5137094 , 0.60256577,
       0.25790465, 0.27494222, 0.23648003, 0.49905732, 0.29954797,
       0.2242209 , 0.6405616 , 0.2242209 , 0.45013762, 0.23588216,
       0.46718672, 0.25568897, 0.25067335, 0.22809643, 0.23947355,
       0.17280847, 0.6421013 , 0.22222161, 0.21802995, 0.24671426,
       0.6499918 , 0.261247  , 0.6421013 , 0.35236633, 0.45015594,
       0.24782217, 0.64750004, 0.6464954 , 0.6405616 , 0.2559982 ,
       0.6449618 , 0.2955233 , 0.23302516, 0.1885128 , 0.64750004,
       0.50916946, 0.6449618 , 0.25568897, 0.64750004, 0.59817165,
       0.25568897, 0.45013762, 0.2193464 , 0.25790465, 0.24693146,
       0.2265062 , 0.258628  , 0.64750004, 0.4555951 , 0.3979944 ,
       0.29425234, 0.261247  , 0.60256577, 0.24468061, 0.37021464,
       0.25264806, 0.518119  , 0.24839363, 0.64879394, 0.2242209 ,
       0.20687127, 0.24602288, 0.15910721, 0.54527533, 0.43588412,
       0.45015594, 0.4425941 , 0.2659305 , 0.22921768, 0.2493057 ,
       0.24477434, 0.21911746, 0.27200806, 0.64750004, 0.47602585,
       0.19746622, 0.2380741 , 0.23835024, 0.5137094 , 0.26364362,
       0.21689653, 0.24295494, 0.6499918 , 0.26505092, 0.22211999,
       0.24806485, 0.4248348 , 0.64750004, 0.6499918 , 0.25350606,
       0.24477434, 0.18582606, 0.6464954 ], dtype=float32)

In [39]:
from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_val)))

Mean Absolute Error : 0.07529822214349709

In [ ]:
submission['Target']=my_model.predict(Test)

In [ ]:
submission.head(5)

            ID    Target
0  ID_AAcismbB  0.249722
1  ID_AAeBMsji  0.254857
2  ID_AAjFMjzy  0.579152
3  ID_AAmMOEEC  0.280792
4  ID_ABguzDxp  0.393514

In [ ]:
submission.to_csv("Zindi3.csv",index=False)

Model with regularizer (ElasticNet)

ElasticNet Model

In [40]:
import sklearn

In [41]:
from sklearn.linear_model import Lasso, Ridge, LinearRegression , ElasticNet

In [42]:
from sklearn.model_selection import GridSearchCV , KFold

In [43]:
cv = KFold(n_splits=10)

In [59]:
Ela = ElasticNet(alpha=0.5 , l1_ratio=0.5)
Ela.fit(X_train, y_train)

ElasticNet(alpha=0.5, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
# define grid
grid = dict()
grid['alpha'] = [1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 0.0, 1.0, 10.0, 100.0]
grid['l1_ratio'] = np.arange(0, 0.1, 0.001)

In [46]:
# define search
search = GridSearchCV(Ela, grid, scoring='neg_mean_squared_error', cv=cv , n_jobs=-1)
#sorted(sklearn.metrics.SCORERS.keys())

In [47]:
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

In [60]:
# perform the search
results = search.fit(X_train, y_train)

In [ ]:
# summarize
mse = -1*results.best_score_
print('MSE: %.3f' % mse)
print('Config: %s' % results.best_params_)

In [64]:
Ela_gs = ElasticNet(**results.best_params_)

In [65]:
Ela_gs.fit(X_train, y_train)

ElasticNet(alpha=0.0001, copy_X=True, fit_intercept=True, l1_ratio=0.14,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [66]:
y_h_Ela_train = Ela_gs.predict(X_train)
y_h_Ela_test = Ela_gs.predict(X_val)

In [70]:
from sklearn.metrics import mean_squared_error

In [71]:
print('Train Error Elastic Net Model', mean_squared_error(y_train , Ela_gs.predict(X_train).reshape(-1,1)))
print('Test Error Elastic Net  Model', mean_squared_error(y_val , Ela_gs.predict(X_val).reshape(-1,1)))

Train Error Elastic Net Model 0.014369239791936467
Test Error Elastic Net  Model 0.026539100680753453

In [74]:
submission=pd.read_csv("/content/SampleSubmission.csv")

In [75]:
submission['Target']=Ela_gs.predict(Test)

In [76]:
submission.head(5)

            ID    Target
0  ID_AAcismbB  0.022707
1  ID_AAeBMsji  0.257180
2  ID_AAjFMjzy  0.577656
3  ID_AAmMOEEC  0.379615
4  ID_ABguzDxp  0.210527

In [77]:
submission.to_csv("Zindi4.csv",index=False)

Catboost